<html>
  <head></head>
  <body>
    <h1>New Album Details</h1>
      <div>
        <form action="/albums" method="POST">
          <div>
          <label>Title</label>
          <input type="text" name="title">
          </div>

          <div>
          <label>Release Year:</label> <input type="text" name="release_year">
          </div>

          <div>
          <label>Album Artist</label>
          <input type="text" name="artist_id">
          </div>
          <input type="submit" value="Add">
      </form>
    </div>
    </body>
</html>

