<html>
  <head></head>
  <body>
    <h1>New Artist Details</h1>
      <div>
        <form action="/artists" method="POST">
          <div>
          <label>Name</label>
          <input type="text" name="name">
          </div>

          <div>
          <label>Genre:</label> <input type="text" name="genre">
          </div>

          <input type="submit" value="Add">
      </form>
    </div>
    </body>
</html>
